.banner2 {

    height: 20vh;
    width: 100%;
}
.portafolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0 ;
    border-radius: 2px;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s ;
    transition: all 0.8s;
}
.portafolio-container:hover img {

-moz-transform: scale(1.2) ;
-webkit-transform: scale(1.2) ;

transform: scale(1.2);
}


.portafolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000 ;
}
.portafolio-details a h2, .portafolio-details a p {
    color: #ffffff;
}

@media (min-width: 576px) { 
   h1 {
       font-size:70px;
       line-height: normal;
   }
 }